<!DOCTYPE html>
{% extends "second_app/base.html" %}
{% block body_block %}

    <h1>Welcom to devices!</h1>
    <div class="container">
        <h1>Hello! This is the Django second app!</h1>

        {% if devices %}
            <h2>Here are your access records:</h2>
            <table class="table">
                <th>MAC address</th>
                <th>Extension</th>
                <th>Status</th>
                <th>Timestatmp</th>
                {% for dev in devices %}
                    <tr>
                        <td>{{ dev.mac_address }}</td>
                        <td>{{ dev.extension }}</td>
                        <td>{{ dev.status }}</td>
                        <td>{{ dev.timestamp }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2>No access records found</h2>
        {% endif %}

    </div>

{% endblock %}