<!DOCTYPE html>
{% extends "second_app/base.html" %}
{% block body_block %}

    <h1>Welcom to index!</h1>

    <h3>{{ text|cut:'ll' }}</h3>
    <h3>{{ number|add:"50" }}</h3>

    <h1>Go to <a href="{% url 'second_app:second_app_devices' %}">devices/</a></h1>
    <h1>Go to <a href="{% url 'second_app:second_app_users' %}">users/</a></h1>
    <h1>Go to <a href="{% url 'second_app:second_app_forms' %}">forms/</a></h1>
    <hr>
    <h1>Go to <a href="{% url 'admin:index' %}">admin/</a></h1>

{% endblock %}
